<h1>Editing Product</h1>

<%= render 'form', product: @product, method: :patch, url: admin_product_path(@product, product_type_slug: @product_type.slug) %>

<%= link_to 'Show', admin_product_path(@product, product_type_slug: @product_type.slug) %>
<%= link_to 'Back', admin_products_path %>
